<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vensent.lut">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|density|fontScale|screenLayout"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadLutPngActivity"
            android:label="@string/load_from_png"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadLutJniActivity"
            android:label="@string/load_through_jni"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadCubeFileActivity"
            android:label="@string/load_from_cube_file"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadCubeFileJniActivity"
            android:label="@string/load_from_cube_file_via_jni"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdjustStrengthBlendingActivity"
            android:label="@string/load_from_cube_file_via_jni"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdjustStrengthLutActivity"></activity>
    </application>

</manifest>